<!DOCTYPE html>
{% extends "appTwo/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <h2>Go to /site to create a new site!</h2>
      </div>
    </div>

    <h1> Here are the current sites: </h1>

    <div class = "container">
    {% if sites %}
    <table style="width: 50%" class="table tops">
      <thead class="thead-dark">
        <tr>
          <th scope="col">site name</th>
          <th scope="col">date opened</th>
          <th scope="col">crew list</th>
          <th scope="col">project manager</th>
          <th scope="col">flowrate</th>
          <th scope="col">current treatmant</th>
        </tr>
      </thead>
        {% for s in sites %}
        <tbody>
          <tr>
          <th scope="row">{{s.site_name}}</th>
          <td> {{s.date_opened}} </td>
          <td> {{s.crew_list}} </td>
          <td> {{s.project_manager}} </td>
          <td> {{s.flowrate}} </td>
          <td> {{s.current_treatmant}} </td>
        </tr>
      {% endfor %}
    </tbody>
      </table>
        {% else %}
          <p> No sites registered </p>
      {% endif %}
    </div>
    <p>{{sites}} </p>
  </body>

{% endblock %}
