<!DOCTYPE html>
<!-- UPDATE TO STORE VALUE -->
{% extends "appTwo/base.html" %}
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".btn").click(function(){
    $("#myModal").modal('show');
  });
});
</script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>

{% block body_block %}
  <body>
<div class="container">
  <p><h4>Enter Site Infromation for Sales Estimate</h4></p>

  <form method = "get">


    <div class="form-group">
      <label for="exampleTextarea">Enter water data file below</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>


    <!-- FILE UPLOAD for water data -->

    <div class="form-group ">
      <label for="exampleInputFile">Or upload new water data file</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name = "water_data_file">
      <small id="fileHelp" class="form-text text-muted">Select water data file to add to this site</small>
    </div>
    <!-- Treatmant Plan -->

  <div class="form-group ">
    <label for="exampleInputEmail1">Enter Treatmant Method:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter treatmant plan here" name = "treatmant_plan">
    <button type="" class="btn btn-primary">Submit</button>
    <small id="emailHelp" class="form-text text-muted">Or determined suggested treatmant method by clicking below</small>
    <button type="" class="btn btn-primary">Determine treatmant method</button>
  </div>


  <!-- Update flowrate -->

  <div class="form-group ">
    <label for="form-text">Enter flowrate:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Flowrate in gallons per minute (GPM)" name = "flowrate">
  </div>

  <div class="form-group ">
    <label for="exampleInputEmail1">Enter Equipment Needed:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter treatmant plan here" name = "equipment">
    <button type="" class="btn btn-primary">Submit</button>
    <small id="emailHelp" class="form-text text-muted">Or determined Equipment Needed</small>
    <button type="" class="btn btn-primary">Determine Equipment Needed</button>
  </div>

</form>


  <div class="bs-example">
      <!-- Button HTML (to Trigger Modal) -->
      <a href="#" class="btn btn-lg btn-primary">Get Estimate</a>

      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Sales Estimate</h4>
                  </div>
                  <div class="modal-body">
                      <p>Equipment cost: $1,000</p>
                      <p>Chemical cost: $1,000</p>
                      <p>Other cost: $1,000</p>
                      <p>Other cost: $1,000</p>
                      <p>Contingency cost: $1,000</p>
                      <p><strong>Total cost: $5,000</strong></p>
                      <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Edit Inputs </button>
                      <button type="button" class="btn btn-primary">Print Cost Report</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

</body>

{% endblock %}
