<!DOCTYPE html>
<!-- UPDATE TO STORE VALUE -->
{% extends "appTwo/base.html" %}
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".btn").click(function(){
    $("#myModal").modal('show');
  });
});
</script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>

{% block body_block %}
  <body>
<div class="container">
  <p><h4>Enter Site Infromation for Sales Estimate</h4></p>

      <div class="container">
        <form method="POST">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" class='btn btn-primary' value="Submit">
        </form>
      </div>

  <div class="bs-example">
      <!-- Button HTML (to Trigger Modal) -->
      <a href="#" class="btn btn-lg btn-primary">Get Estimate</a>

      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Sales Estimate</h4>
                  </div>
                  <div class="modal-body">
                      <p>Equipment cost: $1,000</p>
                      <p>Chemical cost: $1,000</p>
                      <p>Other cost: $1,000</p>
                      <p>Other cost: $1,000</p>
                      <p>Contingency cost: $1,000</p>
                      <p><strong>Total cost: $5,000</strong></p>
                      <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Edit Inputs </button>
                      <button type="button" class="btn btn-primary">Print Cost Report</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

</body>

{% endblock %}
