<!DOCTYPE html>
{% extends "appTwo/base.html" %}
{% load staticfiles %}
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADk2ztTfB674lE1DlJbRLUsVtplKd9FPw&callback=initMap">
</script>

{% block body_block %}
    <div class="container">
      <h1>Please sign up here!</h1>
      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' value="Submit">
      </form>
    </div>

    <div class="container">
    <script>
        function initMap() {

          var uluru = {lat: 41.1865, lng: -73.1952};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <style>
         #map {
          height: 400px;
          width: 50%;

         }
         .tops {
           margin-top: 80px
         }

      </style>
      <h3 class = "tops">Site Location</h3>
  <div id="map"></div>
  <script>
    function initMap() {

      var uluru = {lat: 41.1865, lng: -73.1952};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  </div>
</div>

        <div class = "container">
        <h1 class = "tops">Recent Activity</h1>
        <table style="width: 50%" class="table tops">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee</th>
            <th scope="col">Email</th>
            <th scope="col">Changes</th>
            <th scope="col">Date Changed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">John Smith</th>
            <td>johnsmith@gwttllc.com</td>
            <td>Changed flowarate from 2000gpm to 2500gpm, added water data, recalculated contaminants present, adjusted treatmant plan to include Chemical A, added Pump B to equipment list, removed Pump C from equipment list </td>
            <td> 11:00am 1/28/17</td>
          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>johnsmith@gwttllc.com</td>
            <td>Changed flowarate from 2000gpm to 2500gpm, added water data, recalculated contaminants present, adjusted treatmant plan to include Chemical A, added Pump B to equipment list, removed Pump C from equipment list </td>
            <td> 11:00am 1/28/17</td>
          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>johnsmith@gwttllc.com</td>
            <td>Changed flowarate from 2000gpm to 2500gpm, added water data, recalculated contaminants present, adjusted treatmant plan to include Chemical A, added Pump B to equipment list, removed Pump C from equipment list </td>
            <td> 11:00am 1/28/17</td>
          </tr>
        </tbody>
      </div>
  </body>


{% endblock %}
